.item {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 12px;
    width: 644px;
    background: #FFFFFF;
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #393939;
}

.content {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    color: #354455;
    display: none;
}

.active {
    display: flex;
    align-items: center;
    justify-content: center;
}