.favorites {
    padding-bottom: 64px;
}

.favorites h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #393939;
    text-align: start;
    padding-top: 11px;
}

.quantityFav {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #979797;
    text-align: start;
    margin-bottom: 16px;
}

.quantityFav span {
    margin-right: 6px;
}

.product {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.attention {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #393939;
    text-align: start;
    margin-top: 16px;
    /* margin-bottom: 48px; */
}