.wrapper {
    display: flex;
    padding: 11px 0 96px 0;
    justify-content: space-between;
    position: relative;
}

@media screen and (max-width: 320px) {
    .wrapper {
        flex-direction: column;
        padding: 16px;
    }
}

.total {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 24px;
    gap: 10px;

    width: 384px;
    height: 311px;
    background: #FFFFFF;
}


.totalOrder {
    width: 336px;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #979797;
}

.totalForMobile {
    display: none;
}



@media screen and (max-width: 320px) {
    .total {
        display: none;
    }

    .totalForMobile {
        display: block;
    }

    .totalOrder {
        width: 288px;
        align-items: center;
        padding: 0;
    }

    .totalForMobile h4 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #393939;
        text-align: left;
    }

    .totalForMobile {
        position: sticky !important;
        background-color: #fff;
        right: 0;
        left: 0;
        bottom: 0;
    }


}


.totalOrder span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #393939;
}

.dashed {
    border: 1px dashed #BFBFBF;
    width: 100%;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 336px;
    height: 44px;
    background: #E5271B;
    cursor: pointer;
}

.btnHandler {
    border: 1px solid #EDEDED;
    background-color: #fff;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 8px 118px;
}

.btnInfo {
    border: 1px solid #EDEDED;
    background-color: #fff;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 8px 68px;
}

.btnInfo span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #1D1D1B;
}

.active {
    display: none;
}

.info {
    display: block;
}

.btnHandler span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #1D1D1B;

}

@media screen and (max-width: 320px) {
    .btn {
        width: 288px;
    }
}

.btn span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.emptyCart {
    padding-bottom: 64px;
}


@media screen and (max-width: 320px) {
    .emptyCart {
        padding: 22px 16px 64px 16px;
    }
}

.emptyCart h4 {
    padding-top: 11px;
    text-align: start;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #393939;
}

@media screen and (max-width: 320px) {
    .emptyCart h4 {
        font-size: 16px;
        line-height: 20px;
    }
}

.default {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #393939;
    margin-top: 16px;
    text-align: left;
}

.interested {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #393939;
    margin-top: 48px;
    margin-bottom: 16px;
}

.recommendation {
    display: flex;
    gap: 8px;
}

@media screen and (max-width: 320px) {

    .default {
        font-size: 13px;
        line-height: 16px;
    }

    .recommendation {
        overflow: auto;

    }
    .recommendation::-webkit-scrollbar {
        display: none;
    }

    .interested {
        font-size: 16px;
        line-height: 22px;
        margin-top: 58px;
    }

}