.wrapper {
    display: flex;
    padding: 11px 0 96px 0;
    justify-content: space-between;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 24px;
    gap: 10px;

    width: 384px;
    height: 311px;
    background: #FFFFFF;
}

.totalOrder {
    width: 336px;
    display: flex;
    justify-content: space-between;
}

.totalOrder span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #393939;
}

.dashed {
    border: 1px dashed #BFBFBF;
    width: 100%;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 336px;
    height: 44px;
    background: #E5271B;
    cursor: pointer;
}

.btn span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.emptyCart {
    padding-bottom: 64px;
}

.emptyCart h3 {
    padding-top: 11px;
    text-align: start;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #393939;
}

.default {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #393939;
    margin-top: 16px;
    text-align: left;
}

.interested {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #393939;
    margin-top: 48px;
    margin-bottom: 16px;
}