.wrapper {
    padding: 32px 24px;
}

.OrderRegistration {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.OrderRegistration h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #393939;

}

@media screen and (max-width: 320px) {
    .wrapper {
        width: 288px;
        padding: 18px 12px;
        height: 626px;
        /* overflow-y: auto; */
    }

    .OrderRegistration h3 {
        font-size: 16px;
        line-height: 20px;
    }
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #808080;
    margin-top: 12px;
}

.errortitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #E5271B;
    margin-top: 12px;
}

.input {
    text-align: start;
}

/* .inputItem:focus {
    outline: none;
  } */

.inputItem {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 10px 13px 12px;
    font-size: 12px;
    height: 41px;
    gap: 10px;
    width: 392px;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
}



.phoneInput {
    text-align: start;
    position: relative;
}

.phoneWrapper {
    border: 1px solid #E7E7E7;
    padding-left: 10px;
}

.errorPhone {
    border: 1px solid #E5271B;
    padding-left: 10px;
}

/* .errorPhone input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 10px 13px 6px;
    gap: 10px;
    width: 345px;
    background: #FFFFFF;
    border: 1px solid #E5271B;
} */

.phoneInput input {
    position: relative;
    padding: 13px 10px 13px 6px;
    gap: 10px;
    width: 345px;
    background: #FFFFFF;
    border: none;
    outline: none;
}

:root {
    --PhoneInputCountryFlag-borderWidth: 0 !important;
}

.errorPhone input::placeholder {
    color: #E5271B;
}

.error {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 10px 13px 12px;
    gap: 10px;
    width: 392px;
    background: #FFFFFF;
    border: 1px solid #E5271B;
}

@media screen and (max-width: 320px) {
    .inputItem {
        width: 256px;
    }

    .error {
        width: 256px;
    }
}

.inputItem::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #D0D0D0;
}

.error::placeholder {
    color: #E5271B;
}

.agree {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 344px;
    /* height: 24px; */
    margin-top: 18px;
}

.agree h4 {
    margin: 0;
    
}

.checkbox {
    width: 18px;
    height: 18px;
    border: 1.2px solid #919191;
    border-radius: 3px;
    accent-color: #393939;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 20px 13px;
    width: 392px;
    border: none;
    margin-top: 34px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), #1D1D1B;
}



.active {
    background: #1D1D1B;
}

.btn span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

@media screen and (max-width: 320px) {
    .btn {
        width: 256px;
    }
    .agree {
        text-align: left;
        font-size: 12px;
        margin-bottom: -20px;
        margin-top: 5px;
    }
    .agree h4 {
        width: 232px;
    }
}