.accordion {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 72px;
    padding-top: 11px;
}

@media screen and (max-width: 320px) {
    .wrapper {
        flex-direction: column;
        padding-left: 16px;
        padding-right: 16px;
        gap: 24px;
    }

    .heading {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #393939;
    }

    .img {
        width: 288px;
    }
}

.item {
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 644px;
    background: #FFFFFF;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .item {
        padding: 12px 16px;
        width: 288px;
    }
}

.title {
    display: flex;
    justify-content: space-between;
}

.title h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #393939;
}

@media screen and (max-width: 320px) {
    .title h3 {
        font-size: 13px;
        line-height: 16px;
        width: 228px;
    }
}

.contentShow {
    text-align: start;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #354455;
    max-height: 999px;
    height: auto;
    transition: all 0.5s cubic-bezier(1, 0, 1, 0)
}

.content {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #354455;
    text-align: left;
    opacity: 0;
    max-height: 0;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1)
}