.product {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 32px;
    gap: 24px;
}

@media screen and (max-width: 320px) {
    .product {
        flex-direction: column;
    }
}

.galery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.galery img {
    transition: transform 0.3s;
}

.galery img:hover {
    transform: scale(1.1);
}

.miniImage {
    width: 150px;
    height: 240px;
    object-fit: cover;
}

@media screen and (max-width: 320px) {
    .galery {
        flex-wrap: nowrap;
        overflow: auto;
        justify-content: start;
    }

    .galery::-webkit-scrollbar {
        display: none;
    }
    .miniImage {
        width: 308px;
        height: 437px;
    }
}

.detail {
    width: 624px;
    height: 434px;
    padding: 20px;
    background-color: #fff;
    text-align: start;
}

@media screen and (max-width: 320px) {
    .detail {
        margin-bottom: 50px;
        padding: 0 12px;
        width: 288px;
    }
}

.detail h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #393939;
    margin-bottom: 21px;
}

.article {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #393939;
    margin-bottom: 16px;

}

.article span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    margin-right: 6px;

    color: #1D1D1B;
}

.productColor {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.productColor span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #1D1D1B;
}

.productColorItem {
    width: 8px;
    height: 8px;
    border-radius: 5px;
    margin-left: 10px;
}

.productPrice {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #393939;
    margin-bottom: 16px;
}

.productPrice span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: line-through;

    color: #979797;
}

.about {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #393939;
    /* margin-bottom: 16px; */
}

.description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #6A6A6A;
}

@media screen and (max-width: 320px) {
    .description {
        width: 264px;
    }
}


.details {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 320px) {
    .details {
        flex-direction: column;
    }
}

.size {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #1D1D1B;
    margin-top: 14px;
}

.size span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1D1D1B;
    margin-left: 6px;

}

.buttons {
    display: flex;
    gap: 8px;
    margin-top: 21px;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 30px 12px 18px;
    gap: 10px;
    width: 428px;
    height: 44px;
    background: #1D1D1B;
    border: none;
}

.btn span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

@media screen and (max-width: 320px) {
    .buttons {
        /* width: 244px; */
        margin: 0;
        margin-top: 21px;
    }

    .btn {
        width: 212px;
        padding: 0;
    }
}

.fav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 9px;
    gap: 10px;
    width: 44px;
    height: 44px;

    background: #1D1D1B;
}