.modal {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.modalContent {
    background-color: #fff;
    position: relative;
}

.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

