.product {
    position: relative;
    background-color: #fff;
    border: 1px solid #F1F1F1;
}

.hover {
    position: absolute;
    height: 100%;
    display: flex;
    top: 0;
    left: 0;
}

.progress {
    position: absolute;
    bottom: 8px;
    width: 100%;
    padding: 0 8px;
    display: none;
}

.progressBar {
    width: 25%;
    height: 3px;
    background: #FFF;
}

.product:hover .progress {
    display: block;
}

.hover img {
    height: 100%;
    opacity: 0;
    z-index: 3;
    width: 25%;
}

.favoriteIcon {
    display: none;
    z-index: 5;
}

.product:hover .favoriteIcon {
    position: absolute;
    top: 12px;
    right: 12px;
    display: block;
}

.fullFavoriteIcon {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 5;
}

.saleIcon {
    position: absolute;
    top: 0;
    left: 0;
}

.saleIcon div {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    left: 4px;
    color: #FFFFFF;
    transform: matrix(0.71, -0.7, 0.71, 0.71, 0, 0);
    /* transform:rotate(10deg); */
}

.description {
    text-align: start;
    padding: 6px 8px;
}

.productTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #393939;
    margin-bottom: 6px;
}

.productPrice {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #393939;
    margin-bottom: 6px;
}

.productPrice span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    margin-left: 6px;

    text-decoration-line: line-through;
    color: #ADADAD;
}

.productSize {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #7C7C7C;
    margin-bottom: 6px;
}

.productSize span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #7C7C7C;
    margin-right: 4px;
}

.productColor {
    display: flex;
    margin-right: 5px;
}

/* .productColorItemBorder {
    border: 1px solid #E7E7E7;
    width: 16px;
    height: 16px;
    padding: 3px;
    border-radius: 10px;
    margin-right: 10px;
} */

.productColorItem {
    width: 8px;
    height: 8px;
    border-radius: 5px;
    margin-right: 10px;
}