.collection:hover .button {
    background: #fff;
}

.collection:hover .button span {
    color: #000;
}

.collection:hover .arrowRight {
    fill: #000;
}

.avatar {
    width: 286px;
    height: 330px;
    /* object-fit: cover; */
    background-repeat: no-repeat;
    background-size: cover;

    /* background: linear-gradient(179.51deg, rgba(0, 0, 0, 0) 63.22%, rgba(0, 0, 0, 0.18) 83.47%, rgba(0, 0, 0, 0.3) 103.91%); */
    /* background-blend-mode: darken, normal, normal; */
}

.avatar span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 625px;
    /* display: flex;
    align-items: end;
    justify-content: center; */
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 320px) {
    .avatar {
        display: flex;
        align-items: end;
        justify-content: center;
    }
    .avatar span {
        line-height: 30px;
    }
}


.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 18px 12px 30px;
    gap: 10px;

    width: 286px;
    height: 44px;
    border: none;
    background: #1D1D1B;
    cursor: pointer;
}

.button span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}