.success {
    padding: 32px 38px 32px 38px;
}

.success h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    color: #393939;
    margin-top: 12px;
    text-align: center;
}

.text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #393939;
}

.btn {
    padding: 14px 20px 13px;
    width: 280px;
    margin-top: 16px;
    background: #1D1D1B;
}

.btn span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}