* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.upIcon {
    position: fixed;
    bottom: 230px;
    right: 140px;
    z-index: 5;
}

.chatIcon {
    position: fixed;
    bottom: 190px;
    right: 140px;
    z-index: 5;
}

.searchButtonForMobile {
    display: none;
}

.hamburgerWrapper {
    display: none;
}

.hamburger {
    display: none;
}

.menuForMobile {
    display: none;
}

@media screen and (max-width: 320px) {
    .upIcon {
        display: none;
    }

    .chatIcon {
        display: none;
    }

    .searchButtonForMobile {
        display: block;
        position: absolute;
        top: 13px;
        right: -70px;
        fill: #333;
    }

    .hamburgerWrapper {
        display: block;
        border: 1px solid #ededed;
        position: absolute;
        top: 5px;
        right: 155px;
        width: 36px;
        height: 36px;
        padding: 5px 5px;
    }

    .hamburger {
        display: block;
    }

    .menuForMobile {
        padding: 16px;
        gap: 10px;
        display: block;
        width: 250px;
        height: 640px;
        position: absolute;
        top: -10px;
        right: -40px;
        /* border: 1px solid red; */
        background-color: #fff;
        z-index: 20;
        display: none;

    }

    .menuForMobile h3 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #393939;
        margin: 0;
    }

    .menuForMobile h4 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        text-align: right;
        /* margin: 0; */
    }

    .activeMenu {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .deleteForMob {
        position: absolute;
        top: 15px;
        left: 215px;
    }
    .modalForMob {
        /* padding: 0 16px; */
    }
}




.chat {
    display: none;
    gap: 6px;
    position: fixed;
    bottom: 190px;
    right: 151px;
    z-index: 5;
}

@media screen and (max-width: 320px) {
    .chatMob {
        display: flex;
        align-items: center;
        gap: 6px;
        margin-top: 8px;
    }
}

.active {
    display: flex;
    align-items: center;
}

.passive {
    display: none;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 320px) {
    .nav {
        flex-direction: column;
        align-items: start;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
}

@media screen and (max-width: 320px) {
    .menu {
        display: none;
    }
}

.header {
    /* display: flex; */
}

.line {
    width: 100%;
    border-bottom: 1px solid #EEEEEE;
}

.link+.link {
    margin-left: 24px;
}

.navlink {
    text-decoration: none;
}

.linkItem {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #393939;
}

@media screen and (max-width: 320px) {
    .linkItem {
        margin-top: 20px;
    }
    .link+.link {
        margin: 0;
    }
}

.phone {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #393939;
    cursor: pointer;
}

.phone:hover {
    color: #393939;
}


.phone span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    text-align: right;
    color: #979797;
}

.logo {
    margin-right: 34px;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
}

@media screen and (max-width: 320px) {
    .toolbar {
        justify-content: center;
    }

    .logo {
        display: flex;
        justify-content: center;
        margin: 0;
        position: relative;
    }

    /* .logo img {
        width: 99px;
        height: 43px;
    } */
    .mobsearchicon {
        /* width: 18px;
        height: 18px; */
        position: absolute;
        right: -95px;
        top: 15px;
    }
}

.searchInput {
    position: relative;
    width: 662px;
    padding: 11px 0 13px 20px;
    background-color: #F8F8F8;
    border: 1px solid #E0E0E0;
    z-index: 10;
}

.searchInput::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #858F9B;
}

.searchButton {
    position: relative;
    top: 0;
    right: 41px;
    border: none;
    fill: #000;
    z-index: 10;
}

.label {
    position: relative;
    /* border: 1px solid #d3d3d3; */
}

@media screen and (max-width: 320px) {
    .label {
        display: none;
    }

    .searchButton {
        display: none;
    }
}

.hint {
    position: absolute;
    background-color: #fff;
    padding: 18px 20px;
    gap: 10px;
    z-index: 9;
    width: 701px;
    height: 309px;
    top: 0;
    left: -31px;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    padding-top: 50px;
}

.hintItem {
    width: 672px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 250px;
    top: 0;
    z-index: 10;
    /* left: -30px;
    right: 8px; */
    border-radius: 3px;

}

.hintItem span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 53px;
    /* border-top: 1px solid #d3d3d3; */
    border-bottom: 1px solid #EEEEEE;
    width: 650px;
    text-align: left;
}

.hintItem::-webkit-scrollbar {
    /* display: none; */
    width: 3px;
    margin-right: 20px;
    background-color: #eee;
    border-radius: 5px;
}

.hintItem::-webkit-scrollbar-thumb {
    background: #979797;
    border-radius: 5px;

}

.fav {
    display: flex;
}

@media screen and (max-width: 320px) {
    .fav {
        display: none;
    }

    .favMob {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}

.icon {
    margin-right: 10px;
    width: 22px;
}

.favorite {
    display: flex;
    justify-content: center;
    align-items: center;

    border-right: 1px solid #D3D3D3;
    margin-right: 20px;
    padding-right: 20px;
}

.favText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #393939;
    text-decoration: none;
}

@media screen and (max-width: 320px) {
    .favorite {
        border-right: none;
    }
    .favText{
        margin-top: 14px;
    }
    .icon {
        margin-top: 14px;
    }
}

.favText:hover {
    color: inherit;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #393939;
}

.login {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #393939;
    background-color: inherit;
    border: none;
}

.searchModal {
    display: none;
}

.activeModal {
    display: block;
}