.searchInput {
    position: relative;
    width: 662px;
    padding: 11px 0 13px 20px;
    background-color: #F8F8F8;
    border: 1px solid #E0E0E0;
    z-index: 10;
}

.searchInput::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #858F9B;
}

.searchButton {
    position: absolute;
    top: 0;
    right: 41px;
    border: none;
    fill: #000;
    z-index: 10;
}


.label {
    position: relative;
    /* border: 1px solid #d3d3d3; */
}

@media screen and (max-width: 320px) {
    .overlay {
        position: fixed;
        padding-top: 12px;
        top: 62px;
        left: 0;
        width: 100vw;
        height: calc(100vh - 70px);
        background: rgba(0, 0, 0, 0.2);
        z-index: 20;
    }

    .form {
        display: flex;
        background: #fff;
        align-items: center;
        justify-content: space-between;
        width: 288px;
        margin: 0 auto;
    }

    .input {
        border: none;
        outline: none;
        width: 100vw;
        height: 44px;
        padding: 11px 46px 13px 14px;
        z-index: 10;
        background: #F8F8F8;
        border: 1px solid #E0E0E0;
    }

    .input::placeholder {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #858F9B;
    }

    .searchButton {
        right: 33px;
        height: 66px;
        z-index: 21;
    }
}

.hint {
    position: absolute;
    background-color: #fff;
    padding: 18px 20px;
    gap: 10px;
    z-index: 9;
    width: 701px;
    height: 309px;
    top: 0;
    left: -31px;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    padding-top: 50px;
}

.hintItem {
    width: 672px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 250px;
    top: 0;
    z-index: 10;
    /* left: -30px;
    right: 8px; */
    border-radius: 3px;

}

.hintDiv {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 53px;
    /* border-top: 1px solid #d3d3d3; */
    border-bottom: 1px solid #EEEEEE;
    width: 650px;
    text-align: left;
    text-decoration: none;
    color: #1D1D1B;
}

.hintItem::-webkit-scrollbar {
    /* display: none; */
    width: 3px;
    margin-right: 20px;
    background-color: #eee;
    border-radius: 5px;
}

.hintItem::-webkit-scrollbar-thumb {
    background: #979797;
    border-radius: 5px;
}

@media screen and (max-width: 320px) {
    .hint {
        width: 288px;
        left: 16px;
        top: 13px;
        background: #F8F8F8;
    }

    .hintItem {
        width: 288px;
        height: 250px;
    }
    .hintDiv {
        width: 260px;
    }

    
}