.search {
    padding-top: 11px;
    padding-bottom: 64px;
}

.recommendation {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.wrapper {
    text-align: left;
}

.wrapper h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #393939;
    margin-top: 16px;
    margin-bottom: 48px;
}

.wrapper h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #393939;
}