.new {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 16px;
    gap: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.02);
    margin-bottom: 12px;
    text-align: left;
}

.new img {
    width: 264px;
}

@media screen and (max-width: 320px) {
    .new {
        flex-direction: column;
        padding: 14px 12px;
    }
}

@media screen and (max-width: 320px) {
    .wrapper {
        padding: 0 16px;
    }
}

.heading {
    text-align: start;
    padding-top: 8px;
    margin-bottom: 21px;
}

@media screen and (max-width: 320px) {
    .heading {
        padding-left: 16px;
    }
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #393939;
}

.body {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
    color: #5B5B5B;
}